:host {
    width: 100%;
    height: 100%;
}

:host::ng-deep .mat-card{
  padding:0 !important;
}

:host::ng-deep .mat-card-content{
  padding:12px !important;
}

:host::ng-deep .mat-card-actions{
  margin-bottom: 16px !important;
}


mat-card {
    height: calc(100% - 0px);
    width: calc(100% - 0px);
    /*border-radius: 0;*/
    /*margin: 0.5em;*/
}

mat-card mat-chip.rectangleChip{
  border-radius: 0px;
}

.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
  width: 100%
}
@keyframes borderWidth {
    /* yellow 500 to A100 */
    from {
        box-shadow: 0px 0px 0px 2px #FFFF8D;
        /* transition: box-shadow 0.6s linear; */
        margin: 0.5em;
        outline: solid 2px transparent;
    }
    to {
        box-shadow: 0px 0px 0px 4px #FFEB3B;
        /* transition: box-shadow 0.6s linear; */
        margin: 0.5em;
        outline: solid 2px transparent;
    }
}


mat-card.progressAnimation {
    animation-duration: 0.4s;
    animation-name: borderWidth;
    animation-iteration-count: 10;
    animation-direction: alternate;
}

mat-card.progressAnimation {
  animation-duration: 0.4s;
  animation-name: borderWidth;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

/*mat-card.success  {*/
    /*!* green 500 *!*/
    /*!*border: 2px;*!*/
    /*!*border-style: solid;*!*/
    /*background-color: #00c292;*/

    /*!* background: #4CAF50;  *!*/
/*}*/

/*mat-card.failure {*/
    /*border: 2px;*/
    /*border-style: solid;*/
    /*border-color: darkred;*/
    /*!* background: darkred; *!*/
/*}*/

.mat-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  
  .mat-card-content {
    display: flex;
    flex: 1;
  }

table {
  width: 100%;
}

/*.mat-table > thead {*/
  /*display: none !important;*/
/*}*/

.mat-header-row {
  display: none;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border: none;
  font-size: 12px;
}


::ng-deep .mat-card-header.success{
  background-color:#00c292 !important;
  display: block;
  /*padding-left:5px !important;*/
  /*padding-top: 10px!important;*/
}
::ng-deep .mat-card-header.failure{
  background-color:#e46a76 !important;
  display: block;
  /*padding-left:5px !important;*/
  /*padding-top: 10px!important;*/
}

::ng-deep .mat-card-header.inProgress{
  background-color:#fec107!important;
  display: block;
  /*padding-left:5px !important;*/
  /*padding-top: 10px!important;*/
}

.center-text {
  text-align: center;
}

h4{
  font-weight:300;
  font-size: 18px;
}

.ribbon-corner-bottom{
  /*background-color: red;*/
}

.ribbon-corner-info{
  position: absolute;
  left: 0;
  bottom: 0;
  /*padding: 5px;*/
  color: #424242;
  margin-bottom: -25px;
  margin-left: -25px;
}

.ribbon-corner-bottom:hover{
  border-bottom-color: #424242;
  border-left-color: #424242;
}

.ribbon-corner-bottom:hover .ribbon-corner-info{
  color: #616161;
}

.ribbon-corner-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border: 30px solid transparent;
  border-bottom-color: #616161;
  border-left-color: #616161;
}


mat-list-item.mat-list-item-focus-hover:hover{
  #background-color: #616161;
  color: #616161;
  font-style: italic;
  cursor: pointer;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-25 20:38:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.75s ease-in-out infinite both;
  animation: pulsate-fwd 0.75s ease-in-out infinite both;
}/* ----------------------------------------------
 * Generated by Animista on 2018-9-25 20:43:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
