<mat-card [class.mat-elevation-z2]="!isActive"
  [class.mat-elevation-z10]="isActive"
  (mouseenter)="isActive=true" (mouseleave)="isActive=false"
  [ngClass]="{ heartbeat: isInProgress}" >
  <mat-card-header [ngClass]="{
  'success': !errorOnLastBuild,
  'failure': errorOnLastBuild,
  'inProgress' : isInProgress}"
  >
    <mat-card-title>
      <h4 class="center-text">  {{builderData.name}}</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content flex class="dashboard-card-content">
    <!--<mat-divider></mat-divider>-->
    <div>
      <mat-list dense>
        <!--https://youtrack.jetbrains.com/issue/WEB-32320-->
        <mat-list-item
          class="mat-list-item-focus-hover" *ngFor="let build of builds | async; index as i" (click)="openBuild($event, build.number)">
          <p mat-line># {{build.number}}
            <span [hidden]="isInProgress && i ===0" style="margin-left: 20px">
              {{ unixTimeToDateConverter(build.complete_at) | date:'MM/dd/yy hh:mm'}}
            </span>
          </p>
          <p *ngIf="(isInProgress && (i ===0)); else showOtherStatus">
            <mat-icon svgIcon="in_progress_circle">in_progress_circle</mat-icon>
          </p>
          <ng-template #showOtherStatus>
            <p>
              <mat-icon [ngStyle]="{ color: getColor(build.results)}" >{{getStatusIcon(build.results)}}</mat-icon>
            </p>
          </ng-template>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <a target='_blank' [href]="infoUrl" class="ribbon-corner-bottom">
      <div>
        <mat-icon class="ribbon-corner-info">help_outline</mat-icon>
      </div>
    </a>
    <mat-chip-list>
      <mat-chip class="rectangleChip" *ngFor="let tag of builderData.tags">{{tag}}</mat-chip>
    </mat-chip-list>
  </mat-card-actions>

</mat-card>
